Source: libiptxor
Section: misc
Priority: extra
Maintainer: Gleb Belyakov <belyakov.gleb@wb.ru>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13), bash
Standards-Version: 4.6.2
Homepage: https://github.com/mwanted/ipt_xor
Vcs-Browser: https://github.com/mwanted/ipt_xor
Vcs-Git: https://github.com/mwanted/ipt_xor.git

Package: libiptxor
Architecture: amd64
Depends: xtables-addons-common,libxtables12,dkms,linux-headers-amd64
Description: XOR target for xtables

